.images  img{
    width: 25%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    
}

.images {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .images {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .images  img{
        width: 100%;
        /* width: 50rem; */
        height: 50rem;
    }
}

